body {
    margin: 0;
    padding: 0;
    font-family: 'Inter' , sans-serif;  
}
header{
    background-image: linear-gradient(to right, #AED6C8 65.7%, #CBEADF 32%);
    height: 100vh;
    width: 100%;
    
}

.nav-bar {
    font-weight: 800;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto 140px; 
    align-items: center;
    padding: 19.5px 0;
}
.nav-bar-logo {
    width: 216px;
    height: 47px;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.nav-bar ul a.links {
    text-decoration: none;
    color: #056442;
    font-size: 16px;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar ul li::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Ajuste a posição do traço conforme necessário */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #056442;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-bar ul li:hover::after {
    transform: scaleX(1);
}

.nav-bar ul a img {
    width: 81px;
    height: 29px;
}

.btn-orcamento{
    background: #056442;
    font-family: 'Roboto';
    color: white;
    border-style: none;
    padding: 10px 22px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 14.5px;
    letter-spacing: 1px;
}

.nav-bar button{
    cursor: pointer;
}

.btn-menu{
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: none;
}


.bar-slide{
    background-color: transparent;
    margin: auto;
    width: 1200px;
    display: flex;
    height: 50px;
}


.slide-dot{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}
.slide-setas{
   width: 100%;
   display: flex;
   justify-content: right;
}

.carrosel{
    
    background-color: transparent;
    height: calc(100vh - 297px);
    display: flex;
}
.carrosel-images{
    height: calc(100vh - 297px);
    display: flex;
    gap: 20px;
    overflow-x: hidden;
}
.carrosel-images img{
    width: 1000px;
    height: 486px;
}
.icons{
    height: max-content;
    background-color: #056442;
    display: flex;
    justify-content:  center;
    padding: 40px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.425);
}
.container-icons {
    height:max-content;
    width:max-content;
    display: flex;
    gap: 50px;
}

.bloco-icons{
    height: max-content;
    
}

.bloco-icons span {
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.bloco-icons img {
    width: 32px;
}

.bloco-icons img:hover {
    fill: #021b12;
}

.bloco-icons span:hover {
    transform: translateY(-10px);
    color: #021b12;
    cursor: default;
}

.projetos{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 50px;
    background-image: linear-gradient(to right, white, #CBEADF);
}


.titulo-projeto{
    color:#056442;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
}
.container-slide1{
    width: 100%;
    height: 304px;
   
}
.slide1{
    display: flex;
    gap: 37px; 
    overflow-x: hidden;
}
.container-slide2{
    width: 100%;
    height: 304px;
    
}
.slide2{
    display: flex;
    gap: 37px;
    overflow-x: hidden;
}

.diferenciais{
    background-color: #056442;
    width: 100%;
    height: 247px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-diferenciais{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    color: #022C1D;
    font-size: 32px;
    font-weight: 800;
    line-height: 150%; 
}
.container-diferenciais{
    display: flex;
    gap: 30px;
}
.bloco-diferenciais{
    display: flex;
    gap: 20px;
}
.bloco-ico{
    display: flex;
    align-items: center;
}
.bloco-ico img{
    width: 45px;
}

.bloco-txt{
    max-width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bloco-txt h3,p{
    margin: 0;
}

.avaliacoes{
    padding: 50px 0;
}

.service-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.service-content{
    display: flex;
    align-items: center;
}

.service-content-box {
    display: flex;
    align-items: center;
    max-width: 1200px;
}


.service-content-box-right {
    background-color: #056442;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    margin-left: -80px; /* Margem negativa para sobrepor a imagem */
    z-index: 1;
}

.service-content-box-right h3 {
    margin-top: 15px;
    font-size: 26px;
    text-align: center;
}

.pormade {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: rgb(97, 95, 95);
    font-size: 18px;
}
.pormade img{
    width: 200px;
}
.pormade p {
    margin: 35px 0;
}
.container-pormade{
    padding-top: 50px;
}
.videos {
    display: flex;
    gap: 30px;
    margin-bottom: 150px;
}

iframe {
    border-radius: 20px;
}

.bar-footer{
    content: '';
    height: 1.5px;
    width: 82%;
    margin: auto;
    background-color: gray;
}
footer {
    background: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
}
.container-footer {
    display: flex;
    gap: 100px;
}
.container-footer img {
    width: 30px;
}

#ecology-icon {
    width: 75px;
}
#planting-icon {
    width: 15px;
}

.local {
    margin: auto;
}

.local p {
    color: #4A4A4A;
    margin: auto;
}

.social-links {
    display: block;
    margin: auto;
}

.img-social-links {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.social-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
    align-items: center;
    margin: 10px 0;
}
.social-links li {
    display: flex;
    gap: 32px;
    align-items: center;
}

.social-links a {
    color: #056442;
    text-decoration: none;
    font-weight: 700;
}

.social-links li a img {
    width: 83px;
}

.social-links p {
    color: #A7A5A5;
    margin: 0;
    font-size: 15px;
    margin-top: 15px;
}

.ecology {
    margin: auto;
    color: #056442;
}
.ecology p {
    margin: 0;
}

.ecology span {
    font-weight: 700;
}

@media screen and (max-width: 1400px){
    .nav-bar{
        margin: auto 80px;
    }
}
@media screen and (max-width:1260px){
    .nav-bar{
        margin: auto 40px;
    }
    .nav-bar ul{
        display: none;
    }
    
    .btn-menu{
        display: block;
    }
}