body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;  
}
header{
    background-image: linear-gradient(to right, #AED6C8 65.7%, #CBEADF 32%);
    height: 100vh;
    width: 100%;
    
}

.nav-bar {
    font-weight: 800;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto 140px; 
    align-items: center;
    padding: 19.5px 0;
}
.nav-bar-logo {
    width: 216px;
    height: 47px;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.nav-bar ul a.link {
    text-decoration: none;
    color: #056442;
    font-size: 16px;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar ul li::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Ajuste a posição do traço conforme necessário */
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #056442;
    transition: 0.3s;
}

.nav-bar ul li:hover::after {
    width: 100%;
}

.nav-bar ul a img {
    width: 81px;
    height: 29px;
}

.btn-orcamento{
    background: #056442;
    font-family: 'Roboto';
    color: white;
    border-style: none;
    padding: 10px 22px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 14.5px;
    letter-spacing: 1px;
}

.nav-bar button{
    cursor: pointer;
}
.mobile-links{
    display: none;
}


.btn-menu{
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: none;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    
}

.slider-content input{
   display: none;
}

.slide-box{
    width: 25%;
    height: calc(100vh - 247px);
    position: relative;
    text-align: center;
    transition: 0.3s ease;
    
}

.slide-box img{
    width: 100%;
    height: calc(100vh - 247px);
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    top: 78%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #022C1D;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.nav-manual .manual-btn:hover{
    background-color: #022C1D;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #022C1D;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #022C1D;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #022C1D;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

.icons{
    height: max-content;
    background-color: #056442;
    display: flex;
    justify-content:  last baseline;
    padding: 40px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.425); 
}
.container-icons {
    height:max-content;
    width:max-content;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.bloco-icons{
    height: max-content;
    
}

.bloco-icons span {
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.bloco-icons img {
    width: 32px;
}

.bloco-icons img:hover {
    fill: #021b12;
}

.bloco-icons span:hover {
    transform: translateY(-10px);
    color: #021b12;
    cursor: default;
}

.projetos{
    padding-bottom: 20px;
    background-color: white;
    height: max-content;
}


.titulo-projeto{
    color:#056442;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
}
.container-slide{
    width: 100%;
    height: max-content;
}

.container-slide img {
    border-radius: 10px;
}

.slide-bloco{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 37px; 
    overflow-x: hidden;
    justify-content: center;
    margin: auto;
}

.diferenciais{
    background-color: #056442;
    width: 100%;
    height: 247px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-diferenciais{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    color: #022C1D;
    font-size: 32px;
    font-weight: 800;
    line-height: 150%; 
}
.container-diferenciais{
    display: flex;
    gap: 30px;
}
.bloco-diferenciais{
    display: flex;
    gap: 20px;
}
.bloco-ico{
    display: flex;
    align-items: center;
}
.bloco-ico img{
    width: 45px;
}

.bloco-txt{
    max-width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bloco-txt h3,p{
    margin: 0;
}

.avaliacoes{
    padding: 50px 0;
}

.service-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.service-content{
    display: flex;
    align-items: center;
}

.service-content-box {
    display: flex;
    align-items: center;
    max-width: 1200px;
}


.service-content-box-right {
    background-color: #056442;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    margin-left: -80px; /* Margem negativa para sobrepor a imagem */
    z-index: 1;
}

.service-content-box-right h3 {
    margin-top: 15px;
    font-size: 26px;
    text-align: center;
}

.pormade {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: rgb(97, 95, 95);
    font-size: 18px;
}
.pormade img{
    width: 200px;
}
.pormade p {
    margin: 35px 0;
}
.container-pormade{
    padding-top: 50px;
}
.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 150px;
}

iframe {
    border-radius: 20px;
}

.bar-footer{
    content: '';
    height: 1.5px;
    width: 82%;
    margin: auto;
    background-color: gray;
}
footer {
    background: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
}
.container-footer {
    display: flex;
    gap: 100px;
}
.container-footer img {
    width: 30px;
}

#ecology-icon {
    width: 75px;
}
#planting-icon {
    width: 15px;
}

.local {
    margin: auto;
}

.local p {
    color: #4A4A4A;
    margin: auto;
}

.social-links {
    display: block;
    margin: auto;
}

.img-social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
    align-items: center;
    padding: 0;
}

.social-links li {
    display: flex;
    gap: 32px;
    align-items: center;
}

.social-links a {
    color: #056442;
    text-decoration: none;
    font-weight: 700;
}

.social-links li a img {
    width: 83px;
}

.social-links p {
    color: #A7A5A5;
    margin: 0;
    font-size: 15px;
    margin-top: 15px;
}

.ecology {
    margin: auto;
    color: #056442;
}
.ecology p {
    margin: 0;
}

.ecology span {
    font-weight: 700;
}



@media screen and (max-width: 1400px){
    .nav-bar{
        margin: auto 80px;
    }
    .slide-bloco{
        gap: 20px;
    }

    .container-slide img{
        width: 400px;
    }
}

@media screen and (max-width:1340px){

    .container-slide img{
        width: 350px;
    }

    .titulo-diferenciais{
        font-size: 30px;
    }
    .container-diferenciais{
        width: 1100px;
    }
    .bloco-ico img{
        width: 42px;
    }
    .bloco-txt{
        max-width: 320px;
    }
    .bloco-txt h3{
        font-size: 17px;
    }

    .bloco-txt p{
        font-size: 15.5px;
    }

    .videos{
        justify-content: center;
        max-width: 1000px;
    }
}

@media screen and (max-width:1260px){
    header{
        height: max-content;
    }
    .nav-bar{
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .btn-menu{
        display: block;
    }

    .link-btn{
        display: none;
    }

    .link-pormade{
        display: none;
    }

    .nav-item{
        display: none;
    }

    .mobile-links .nav-item{
        display: block;
    }


    
    .mobile-links .links{
        gap: 0;
        flex-direction: column;
        position: absolute;
        background-color: #022c1da9;
        width: 100%;
        top: 74px;
        left: 0;
        z-index: 5;
        padding: 0;
    }
    .mobile-links ul li{
        width: 100%;
    }
    .mobile-links .links a{
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 16px;
        color: white;
        font-weight: 400;
        background-color: transparent;
        width: 100%;
        text-transform: none;
        text-decoration: none;
    }
    
    .mobile-links .links a:hover{
        background-color: #056442;
        font-weight: 600;
    }

    .mobile-links ul li::after{
        display: none;
    }

    .open{
        display: block;
    }
}
@media screen and (max-width:1170px){

    .titulo-diferenciais{
        font-size: 28px;
    }

    .container-diferenciais{
        width: 900px;
        
    }
    .bloco-ico img{
        width: 42px;
    }
    .bloco-txt{
        max-width: 400px;
    }
    .bloco-txt h3{
        font-size: 16.5px;
    }

    .bloco-txt p{
        font-size: 15px;
    }
}


@media screen and (max-width:1135px){
 
    .container-slide img{
    width: 320px;
   }

   .container-footer{
    gap: 50px;
   }

   .local p, .ecology p, .social-links a, .social-links p{
    font-size: 15px;
   }
}

@media screen and (max-width:1055px){
    .container-icons{
        max-width: 600px;
        justify-content: center;
    }

    .container-slide img{
        width: 290px;
    }
}
@media screen and (max-width: 1010px) {
    .diferenciais{
        height: max-content;
        padding-bottom: 20px;
    }
    .container-diferenciais{
        flex-wrap: wrap;
        gap: 40px;
        width: 700px;
        justify-content: center;
    }

    .bloco-txt{
        max-width: 200px;
        padding-bottom: 20px;
    }

   
}

@media screen and (max-width: 959px) {
        
    .container-slide img{
        width: 270px;
    }

    .slide-bloco{
        gap: 15px;
    }

    .service-content-box-right{
        margin-left: -130px;
    }
}

@media screen and (max-width:924px){
    .container-footer{
        gap: 70px;
    }

    .social-links ul{
        flex-direction: column;
        gap: 10px;
    }
    .social-links li a img{
        width: 70px;
        padding-left: 12px;
    }

}

@media screen and (max-width: 890px) {
        
    .service-container, .service-content, .service-content-box{
        display: block;
    }
    .service-container{
        padding: 0;
    }
    .service-content-box-left{
        width: 100%;
    }
    .service-content-box-left img{
        display: flex;
        margin: auto;
        width: 100%;
    }
    .service-content-box-right{
        margin: 0;
        border-radius: 0;
    }
    .videos{
        max-width: 800px;
        margin-bottom: 130px;
    }
}

@media screen and (max-width:840px){
    .titulo-projeto{
        font-size: 30px;
    }
}

@media screen and (max-width:760px){
    #ecology-icon {
        width: 65px;
    }
    .local p, .ecology p, .social-links a, .social-links p{
        font-size: 14.5px;
    }
    .container-footer{
        gap: 50px;
    }
}

@media screen and (max-width:714px){
    .titulo-projeto{
        font-size: 28px;
    }
}
@media screen and (max-width:690px){

    .service-content-box-right p{
        font-size: 15.2px;
        text-align: justify;
    }

    .service-content-box-right h3{
        font-size: 24px;
        margin-top:25px;
    }

    .pormade img{
        width: 180px;
    }
}


@media screen and (max-width:650px){
    .titulo-projeto{
        font-size: 26px;
    }

    .titulo-diferenciais{
        font-size: 26px;
    }
    .container-diferenciais{
        width: 450px;
    }
    .bloco-diferenciais{
        gap: 10px;
    }
    .bloco-txt{
        justify-content: center;
        padding: 0;
    }
    .bloco-txt h3{
        font-size: 16px;
    }

    .bloco-txt p{
        font-size: 14.5px;
    }

    .local p{
        padding-left: 20px;
    }

    .ecology{
        padding-right: 20px;
    }
}

@media screen and (max-width:600px){
  
    .nav-manual, .nav-auto{
        top: 60%;
    }
    .container-icons span{
        font-size: 15px;
    }
    .container-icons img{
        width: 28px;
    }

    .container-icons{
        padding-left: 15px;
        padding-right: 15px;
        width: 500px;
        gap: 30px;
    }

    .slide-box{
        height: max-content;
    }
    .slide-box img{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: last baseline;
    }

    .titulo-projeto{
        font-size: 24px;
    }
 
    .container-slide img {
        width: 75%;
    }

}
@media screen and (max-width:580px){

    .titulo-diferenciais{
        font-size: 24px;
    }
    .bloco-txt{
        max-width: 150px;
    }
    .bloco-txt h3{
        font-size: 15.5px;
    }

    .bloco-txt p{
        font-size: 14px;
    }
}

@media screen and (max-width:530px){
    .titulo-projeto{
        font-size: 22px;
    }

    .container-slide img {
        width: 70%;
    }

    .titulo-diferenciais{
        font-size: 22.5px;
    }
    .bloco-txt{
        max-width: 150px;
    }
    .bloco-txt h3{
        font-size: 15px;
    }

    .bloco-txt p{
        font-size: 13.5px;
    }
}

@media screen and (max-width:500px){

    .local p, .ecology p, .social-links a, .social-links p{
        font-size: 14px;
    }
    .social-links p{
        width: max-content;
        padding-top: 10px;
    }
    .img-social-links img{
        width: 26px;
    }
}

