body {
    margin: 0;
    padding: 0;
    font-family: 'Inter' , sans-serif;  
}
header{
    background-image: linear-gradient(to right, #AED6C8 68%, #CBEADF 32%);
    height: 100vh;
    width: 100%;
    
}

.nav-bar {
    font-weight: 800;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto 140px; 
    align-items: center;
    padding: 19.5px 0;
}
.nav-bar img {
    width: 216px;
    height: 47px;
}
.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.nav-bar ul a.links {
    text-decoration: none;
    color: #056442;
    font-size: 16px;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar ul li::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Ajuste a posição do traço conforme necessário */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #056442;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-bar ul li:hover::after {
    transform: scaleX(1);
}

.nav-bar ul a img {
    width: 81px;
    height: 29px;
}

.nav-bar button {
    background: #056442;
    color: white;
    border-style: none;
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: 800;
}

.nav-bar button:hover{
    cursor: pointer;
}

.bar-slide{
    background-color: transparent;
    margin: auto;
    width: 1200px;
    display: flex;
    height: 50px;
}


.slide-dot{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}
.slide-setas{
   width: 100%;
   display: flex;
   justify-content: right;
}

.carrosel{
    background-color: transparent;
    height: calc(100vh - 293px);
    align-items: last baseline;
    display: flex;
}
.carrosel-images{
   
    display: flex;
    gap: 20px;
    overflow-x: hidden;
}
.carrosel-images img{
    width: 1000px;
    height: 480px;
}
.icons{
    height: max-content;
    background-color: #056442;
    display: flex;
    justify-content:  center;
    padding: 40px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.425);
}
.container-icons {
    height:max-content;
    width:max-content;
    display: flex;
    gap: 50px;
}

.bloco-icons{
    height: max-content;
    
}

.bloco-icons span {
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.bloco-icons img {
    width: 32px;
}

.bloco-icons img:hover {
    fill: #021b12;
}

.bloco-icons span:hover {
    transform: translateY(-10px);
    color: #021b12;
    cursor: default;
}

.projetos{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.titulo-projeto{
    color:#056442;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
}
.container-slide1{
    width: 100%;
    height: 304px;
   
}
.slide1{
    display: flex;
    gap: 37px; 
    overflow-x: hidden;
}
.container-slide2{
    width: 100%;
    height: 304px;
    
}
.slide2{
    display: flex;
    gap: 37px;
    overflow-x: hidden;
}

.diferenciais{
    background-color: #056442;
    width: 100%;
    height: 207px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-diferenciais{
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    color: #022C1D;
    font-size: 30px;
    font-weight: 800;
    line-height: 150%; 
}
.container-diferenciais{
    display: flex;
    gap: 30px;
}
.bloco-diferenciais{
    display: flex;
    gap: 20px;
}
.bloco-ico{
    display: flex;
    align-items: center;
}
.bloco-ico img{
    width: 45px;
}

.bloco-txt{
    max-width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bloco-txt h3,p{
    margin: 0;
}
